html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f7f7fb;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}

* {
  box-sizing: border-box;
}
